<html>
<head>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>

</head>

<script>
$(document).ready(function(){
    $('#nicer').DataTable();
});
</script> 
<h1>List of all Movies</h1>  

<table id="nicer" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead><TR><th>Movie ID #</th><th>Movie Title </th> <th>Movie Release Date</th><th>IMDB URL</th></TR></thead>
<tbody>
{% for movie in movie_list %}
<tr><td>{{ movie.id }}</td><td><a href="/addrating/{{ movie.id }}">{{ movie.title }}</a></td><td>{{ movie.release_date }}</td><td>{{ movie.imdb_url }}</td></tr>
{% endfor %}
</tbody>
</table>

</html>